<h2>Edit your account info</h2>
<%= render '/wines/search' %>
<%= link_to 'Back to wine.r', user_path(@user) %>

<%= render 'form' %>

<%= link_to 'Delete Your Account', user_path(@user), method: :delete %>
