
<% if current_user %>
  <h2>Welcome <%= current_user.name %></h2>
  <%= render '/wines/search' %>
<% else %>
  <h2>Welcome</h2>
  <%= link_to 'Sign Up for a new account', new_user_path %>
  <%= link_to 'Log in to your account', login_path %>
<% end %>
