body {
  border-top: 10px solid black;

}

body a:link {
   color: black;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

body a:visited {
  color: black;
  text-decoration: bold;
}

body a:hover {
  color: #39f;
}

.constant_header {
  color: black;
  margin-top: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

.image-wrap{
  margin-left : 10%;
  margin-right : 10%;
}

.image-wrap img{
  width: 100%;
  margin-bottom: -5px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 50px;
}

h3 {
  font-weight: bold;
}

.login {
  margin-left: 15px;
  margin-bottom: 15px;
}

.search {
  text-align: center;
  margin-bottom: -1px;
}

.search-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 35px;
}

.show {
  margin-left: 15px;
}

.wine_show {
  margin-top: 30px;
}

.welcome-header {
  text-align: left;
  margin-left: 15px;
}

.welcome {
  margin-bottom: 30px;
}

.wine_rec {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.wine_show{
  margin-left: 15px;
  line-height: 150%;
}
