body {
  border-top: 10px solid black;
}

.constant_header {
  margin-top: 15px;
  margin-right: 15px;
}

.image-wrap{
  align-content: center;
}

.image-wrap img{
  width: 100%;
  margin-bottom: 10px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 50px;
}

.login {
  margin-left: 15px;
  margin-bottom: 15px;
}

.search {
  margin-bottom: 3px;
  margin-left: 15px;
}

.search-label {
  margin-bottom: 15px;
  margin-left: 15px;
  font-weight: bold;
}

.show {
  margin-left: 15px;
}

.wine_show {
  margin-top: 30px;
}

.welcome-header {
  margin-left: 15px;
}

.welcome {
  margin-bottom: 30px;
}

.wine_rec {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}
