<h2>Edit a wine in the wine.r database</h2>

<ul>
  <% @wine.errors.full_messages.each do |error_msg| %>
    <li><%= error_msg %></li>
  <% end %>
</ul>

<%= render 'form' %>
<%= button_to "Delete", wine_path(@wine), method: :delete %>
